<div class="card shadow">
  <div class="card-header">
    Fetching
  </div>
  <div class="card-body">
    <div class="row">
      <div class="btn-group" [formGroup]="departments" role="group">
        <input type="checkbox" formControlName="haas" id="haas" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="haas">HAAS</label>
        <input type="checkbox" formControlName="dmu" id="dmu" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="dmu">DMU</label>
        <input type="checkbox" formControlName="mam" id="mam" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="mam">MAM</label>
        <input type="checkbox" formControlName="mak" id="mak" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="mak">MAK</label>
        <input type="checkbox" formControlName="lathe" id="lathe" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="lathe">LATHE</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="btn-group" [formGroup]="statuses" role="group">
        <input type="checkbox" formControlName="active" id="active" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="active">Active</label>
        <input type="checkbox" formControlName="mfgcomplete" id="mfgcomplete" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="mfgcomplete">Mfg. Complete</label>
        <input type="checkbox" formControlName="shipped" id="shipped" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="shipped">Shipped</label>
        <input type="checkbox" formControlName="onhold" id="onhold" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="onhold">On Hold</label>
        <input type="checkbox" formControlName="canceled" id="canceled" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="canceled">Canceled</label>
        <input type="checkbox" formControlName="invoiced" id="invoiced" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="invoiced">Invoiced</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="btn-group" [formGroup]="locations" role="group">
        <input type="checkbox" formControlName="proshop" id="proshop" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="proshop">ProShop</label>
        <input type="checkbox" formControlName="database" id="database" class="btn-check" autocomplete="off">
        <label class="btn btn-secondary" for="database">Internal Database</label>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-lg btn-primary" placement="right" ngbTooltip="Pull data and crunch numbers" (click)="submit()">Generate Report</button>
  </div>
</div>