<div class="card">
    <div class="card-header">
        <i class="bi bi-info-circle"></i>
        About
    </div>
    <div class="card-body text-center">
        - &copy; 2022 Stephen Fike -<br>
        - This software is provided under the <span class="license" (click)="openModal()">MIT license</span> -<br>
    </div>
    <div class="card-footer text-end">
        <a href="https://github.com/traveno/shop-meister" target="_blank" style="margin-right: 5px;">GitHub</a><small>v0.0.5-alpha</small>
    </div>
</div>