<div class="side-nav-bar shadow">
  <div class="navbar-brand text-center">ProReport</div>
  <hr>
  <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
    <li ngbNavItem="top">
      <a ngbNavLink class="text-center" routerLink="/dashboard">Dashboard</a>
    </li>
    <li ngbNavItem="middle">
      <a ngbNavLink class="text-center" routerLink="/reporting">Reporting</a>
    </li>
    <li ngbNavItem="bottom">
      <a ngbNavLink class="text-center">Work Flow</a>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>