.side-nav-bar {
    position: relative;
    width: 8rem;
    min-height: 100%;
}

@media (max-width: 767px) {
    .side-nav-bar {
        display: none;
    }

    .fixed {
        display: none;
    }
}

.fixed {
    width: 8rem;
    position: fixed;
    top: 50%;
    background-color: #292929;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translateY(-50%);
}

a {
    border-radius: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #292929;
    border-radius: 5px;
}

.nav-link {
    color: #888;
}

.nav-link.active {
    color: #FFF;
    background-color: #292929;
}

.nav-link:hover {
    color: #FFF;
}

.logo {
    padding-top: 0px;
    max-width: 70%;
}

.version {
    color: #FFF;
    bottom: 0;
}