/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(247, 247, 247);
    min-height: 100vh;
}

.card {
    margin-bottom: 1rem;
}

div.d-flex {
    min-height: 100vh;
}