<div class="card shadow">
  <div class="card-header">
    Database
  </div>
  <div class="card-body">
    <div class="row mb-4 align-items-center">
      <div class="col">
        <input type="file" id="cache-input" name="Load cache file">
        <div class="btn-group" role="group">
          <label for="cache-input" class="btn btn-primary" placement="top" ngbTooltip="Import a cache file">Load</label>
          <button id="cache-save" type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-cache-modal" (click)="openModal()">New</button>
        </div>
      </div>
      <div class="col">
        <table>
          <tbody>
            <tr>
              <th scope="row" class="text-end">Status:</th>
              <td class="text-start"><span id="cache-status"></span></td>
            </tr>
            <tr>
              <th scope="row" class="text-end">Entries:</th>
              <td class="text-start"><span id="cache-entries"></span></td>
            </tr>
            <tr>
              <th scope="row" class="text-end">Timestamp:</th>
              <td class="text-start"><span id="cache-timestamp"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>